/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Root */
:root {
  /* Colors */
  --color-primary: #cf8803;
  --color-secondary: #1e78a0;
  --color-tertiary: #ccc;
  --black: #000;
  --white: #fff;
  --grey: #aaa;

  /* Font families */
  --font-family-body: "Roboto", sans-serif;
  --font-family-titles: "Noto Serif", serif;

  /* Font sizes */
  --font-size-body: 1rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.5rem;

  /* Spaces */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  /* Border radius */
  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
}

/* Body */
body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
}

/* Titles */
h1 {
  font-family: var(--font-family-titles);
  font-size: var(--font-size-h1);
  font-weight: 700;
}

h2 {
  font-family: var(--font-family-titles);
  font-size: var(--font-size-h2);
  font-weight: 700;
}

h3 {
  font-family: var(--font-family-titles);
  font-size: var(--font-size-h3);
  font-weight: 700;
}

h4 {
  font-family: var(--font-family-titles);
  font-size: var(--font-size-h4);
  font-weight: 700;
}

/* Button */
.btn {
  position: relative;
  padding: var(--space-md) var(--space-xl);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}
