.main {
  flex: 1 0 auto;
  padding: var(--space-lg) var(--space-xl);
  background: center / cover no-repeat url("./img/img-bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xl);
  text-align: center;
}

.main .title {
  color: var(--color-primary);
}

.main .subtitle {
  color: var(--white);
}
