.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xl);
  background-color: var(--color-primary);
  color: var(--white);
}

.header .nav {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.header .nav a {
  padding: var(--space-xs) 0;
  font-size: var(--font-size-h4);
  font-weight: 700;
  transition: all 0.2s ease;
}

.header .nav a:hover,
.header .nav a:focus {
  border-bottom: 0.25rem solid var(--white);
}
