.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background-color: var(--black);
  padding: var(--space-lg) var(--space-xl);
  transition: all 0.2s ease;
}

.header .logo {
  color: var(--color-primary);
}

.header .logo:hover,
.header .logo:focus {
  color: var(--white);
}

.header .nav {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}

.header .nav > * {
  font-size: var(--font-size-h4);
  font-weight: 700;
}
