.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-md) var(--space-xl);
  background-color: var(--color-primary);
  color: var(--white);
}

.footer a {
  display: flex;
  align-items: center;
}
