.menu {
  flex: 1 0 auto;
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-tertiary);
}

.menu .title {
  color: var(--color-primary);
  padding-bottom: var(--space-lg);
}

.menu .pizzas {
  background-color: var(--white);
  border: 0.25rem solid var(--color-primary);
  border-radius: var(--border-radius);
  width: 80%;
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
}

.menu .pizzas .pizza {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "img  name        price"
    "img  description price";
  gap: var(--space-lg);
  width: 80%;
}

.menu .pizzas .pizza .img {
  grid-area: img;
  width: 4rem;
  height: 4rem;
}

.menu .pizzas .pizza .name {
  grid-area: name;
}

.menu .pizzas .pizza .price {
  grid-area: price;
}

.menu .pizzas .pizza .description {
  grid-area: description;
  text-align: justify;
}
